body{
    font-family: sans-serif;
}
h1{
    text-align: center;
    color: white;
    margin: 0% 0 0%:
}
.gallery{
    margin:20px 20px:
}
.gallery img{
    width: 160px;
    padding: 5px;
    filter: grayscale(99%);
    transition: 0.3s;
}
.gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}


  
  body {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }